body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.search-input{
  background-color:#f8f9fa;
}

@media (max-width: 700px) {
  #aside {
    display: none;  
  }
  #hero {
    width: 100% !important;
  }
  
}