body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f9fa;
}

#navbar{
  background-color: #dbdfe7;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.logo h1 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.logo p {
  font-size: 15px;
  margin: 0;
  font-weight: 600;
}

h5{
  font-size: 15px;
  font-weight: 700;
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.search-input{
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  outline: none;
  width: 100%;
  background-color: #fff;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createFolderButton, #uploadFileButton {
  border: none;
  padding: 20px 15px;
  border-radius: 25px;
  transition: all 0.1s ease-in-out;
  outline: none;
  width: 100%;
  background-color: #dbdfe7;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#createFolderButton:hover, #uploadFileButton:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#modalButton{
  background-color: #3493eb;
  border-color: #3493eb;
}

#modalButton:hover{
  background-color: #2578d7;
  border-color: #2578d7;
}

.search-input:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#aside {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1;
}

#hero {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#folderNode {
  padding: 5px;
}

#mainNode:hover, #folderNode:hover {
  cursor: pointer;
  border-top: 2px solid #ebeef1;
  border-bottom: 2px solid #ebeef1;
}

#folderFileItem {
  padding: 10px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

#folderFileItem:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.4)  ;
}

.selected {
  background-color: #ebeef1;
}

.custom-dropdown {
  border-radius: 50px;
  background-color: aliceblue;
  transition: all 0.2s ease-in-out;
}

.custom-dropdown .dropdown-toggle::after {
  display: none;
}

.custom-dropdown:hover { 
  cursor: pointer;
  box-shadow: 0 0 10px skyblue;
}

@media (max-width: 700px) {
  
  #aside {
    display: none;  
  }
  #hero {
    width: 100% !important;
  }
  
}